<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<script type="text/javascript">
var sy = sy || {};
sy.contextPath = '';
sy.basePath = '';
sy.version = '1.0';
sy.pixel_0 = '{{url_for('static', filename='style/images/pixel_0.gif')}}';
</script>

<!-- 引入自定义样式 -->
<link rel="stylesheet" href="{{url_for('static', filename='style/syExtCss.css')}}" type="text/css">
